<h1>Login</h1>
<hr>

<div class="col-md-4">
    <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
            <label for="userName">User Name: </label>
            <input placeholder="User Name..." type="text" id="userName" name="userName" (ngModel)="userName" />
        </div>

        <div class="form-group">
            <label for="userName">Password: </label>
            <input placeholder="Password..." type="password" id="password" name="password" (ngModel)="password" />
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </form>
</div>
