<div>
    <h1>Edit User Profile.</h1>
    <hr>
    
    <div class="col-md-4">
        <form [formGroup]="profileForm" (ngSubmit)="save(profileForm.value)" autocomplete="off" novalidate>
            <div class="form-group" [ngClass]="{'error': !validate('firstName')}">
                <label for="firstName">First Name: </label>
                <em *ngIf="!validate('firstName')">Required</em>
                <input placeholder="First Name..." required formControlName="firstName" id="firstName"
                    type="text" />
            </div>
            <div class="form-group" [ngClass]="{'error': !validate('lastName')}">
                <label for="lastName">Last Name: </label>
                <em *ngIf="!validate('lastName')">Required</em>
                <input placeholder="Last Name..." required formControlName="lastName" id="lastName"
                    type="text" />
            </div>
    
            <div>
                <button class="btn btn-primary" [disabled]="profileForm.invalid">Save</button>
                <button class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>